
@model List<RiceTrader.Models.Product>


@{
    ViewData["Title"] = "Product Listing";
}

<h2>Vendor Product Listing</h2>
<div><div></div><h5>Supplier: RiceLink Inc.</h5></div>
<div class="container">
    @foreach (var product in Model)
    {
        <div class="product">
            <h3>@product.Name</h3>
            <p>Origin: @product.Origin</p>
            <p>Product Size: @product.PackageSize</p>
            <p>Price per product: @product.Price @product.Currency</p>
            <p>Description: @product.Description</p>
            <p>Available Stocks: @product.Quantity</p>
            <!-- Begin Form -->
            <form asp-controller="Product" asp-action="AddToOrderQueue" method="post">
                <input type="hidden" name="productId" value="@product.Id" />
                <input type="hidden" name="productName" value="@product.Name" />
                <input type="hidden" name="productSize" value="@product.PackageSize" />
                <input type="hidden" name="price" value="@product.Price" />
                <input type="number" name="quantity" value="1" min="1" max="@product.Quantity" /> 
                <button type="submit">Add to Order Queue</button>
            </form>
            <!-- End Form -->
        </div>
        
    }
</div>